
.mod_moodlecst_listbuttons input[type="submit"]{
	width: 400px;
	/*float: left;*/
}

.mod_moodlecst_buttoncontainer{
	display: flex;
	float: center;
	margin-left: 30%;
	margin-right: 30%;
}

div.mod_moodlecst_actionbuttons {
	display: flex;
	float: right;
}

